.main-div{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Calculator{
    height: 80%;
    width:50%;
    background-color: rgba(211, 211, 211, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px

}
.Calculator-main{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
}
.header{
    height: 10%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}
.display{
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    padding: 10px;
  
 }
 #text{
    margin: 5px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    height: auto;
    font-weight: 700;
    display: inline-block;
    overflow-wrap: break-word;
    width: min-content;
    max-width: 90%;


    
 }
 .buttons{
    display: flex;
    width: 100%;
    height: 65%;
    background-color: aqua;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
 .buttonclass{
    width: 25%;
    font-size: 1.5rem;
 }
 #zero{
    width: 50%;
 }
 #sub,#add,#mul,#slash,#equal{
    background-color: #c4473c;
 }
 .buttonclass:hover{
    background-color: yellow;
 }